<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
</head>
<nav>
    {% if user.is_authenticated %}
    <li>
        Hello {{ user.username }}!
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'create_receipt' %}">Create Receipt</a>
        <a href="{% url 'create_category' %}">Create Category</a>
        <a href="{% url 'create_account' %}">Create Account</a>
    </li>
{% else %}
    <li>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Sign Up</a>
    </li>
{% endif %}
</nav>
<body>
    <main>
        <h1>Categories</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>{{ category.receipts.count }}</td>
                {% endfor %}
                    </tr>
            </tbody>
        </table>
    </main>
</body>
</html>
