<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a receipt</title>
</head>
<nav>
    {% if user.is_authenticated %}
    <li>
        Hello {{ user.username }}!
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'create_receipt' %}">Create Receipt</a>
        <a href="{% url 'create_category' %}">Create Category</a>
        <a href="{% url 'create_account' %}">Create Account</a>
    </li>
{% else %}
    <li>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Sign Up</a>
    </li>
{% endif %}
</nav>
<body>
    <main>
        <div>
            <h1>Create Receipt</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
</body>
</html>
